  /* 变量px */
  $px-1:1px;
  $px-2:2px;
  $px-3:3px;
  $px-4:4px;
  $px-5:5px;
  $px-6:6px;
  $px-7:7px;
  $px-8:8px;
  $px-9:9px;
  $px-10:10px;
  $px-11:11px;
  $px-12:12px;
  $px-13:13px;
  $px-14:14px;
  $px-15:15px;
  $px-16:16px;
  $px-17:17px;
  $px-18:18px;
  $px-19:19px;
  $px-20:20px;
  $px-21:21px;
  $px-22:22px;
  $px-23:23px;
  $px-24:24px;
  $px-25:25px;
  $px-26:26px;
  $px-27:27px;
  $px-28:28px;
  $px-29:29px;
  $px-30:30px;
  $px-31:31px;
  $px-32:32px;
  $px-33:33px;
  $px-34:34px;
  $px-35:35px;
  $px-36:36px;
  $px-37:37px;
  $px-38:38px;
  $px-39:39px;
  $px-40:40px;
  $px-45:45px;
  $px-50:50px;
  $px-60:60px;
  $px-70:70px;
  $px-80:80px;
  $px-90:90px;
  $px-100:100px;
  $px-150:150px;
  $px-200:200px;
  $px-300:300px;
  $px-400:400px;
  $px-500:500px;
  /* 变量rpx */
  $rpx-2:2rpx;
  $rpx-4:4rpx;
  $rpx-6:6rpx;
  $rpx-8:8rpx;
  $rpx-10:10rpx;
  $rpx-12:12px;
  $rpx-14:14rpx;
  $rpx-16:16rpx;
  $rpx-18:18rpx;
  $rpx-20:20rpx;
  $rpx-22:22rpx;
  $rpx-24:24rpx;
  $rpx-26:26rpx;
  $rpx-28:28rpx;
  $rpx-30:30rpx;
  $rpx-32:32rpx;
  $rpx-34:34rpx;
  $rpx-36:36rpx;
  $rpx-38:38rpx;
  $rpx-40:40rpx;
  $rpx-50:50rpx;
  $rpx-60:60rpx;
  $rpx-70:70rpx;
  $rpx-80:80rpx;
  $rpx-90:90rpx;
  $rpx-100:100rpx;
  $rpx-150:150rpx;
  $rpx-200:200rpx;
  $rpx-300:300rpx;
  $rpx-400:400rpx;
  $rpx-500:500rpx;
  /* 变量num */
  $num--1:0.1;
  $num-1:1;
